In [1]:
# Import necessary libraries

import numpy as np
import pandas as pd
import pandapower as pp
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import pp_heig_simulation as pp_sim
import pickle

Import pickle ("trey_net_student.p")

In [2]:
# Load the pandapower network from the pickle file
net_trey = pp.from_pickle("input-data/trey_net_student.p")

# quick inspection
print(type(net_trey))
print(net_trey)

<class 'pandapower.auxiliary.pandapowerNet'>
This pandapower network includes the following parameter tables:
   - bus (13 elements)
   - load (12 elements)
   - ext_grid (1 element)
   - line (11 elements)
   - trafo (1 element)

Design of network

In [3]:
# Bus 
net_trey.bus

            name   type   zone  in_service  geo
0     STMT003438     PQ  Trafo        True  NaN
1     CDBT004764     PQ  North        True  NaN
2     CDBT003746     PQ  North        True  NaN
3     CDBT004760     PQ  North        True  NaN
4     CDBT012139     PQ  North        True  NaN
5     CDBT900784     PQ  North        True  NaN
6     CDBT901452     PQ  South        True  NaN
7     CDBT004774     PQ  South        True  NaN
8     CDBT901604     PQ  South        True  NaN
9     CDBT016055     PQ  South        True  NaN
10            N1     PQ  South        True  NaN
11         60437     PQ  South        True  NaN
12  STMT003438HV  Slack  Trafo        True  NaN